@import 'node_modules/ember-frost-core/addon/styles/frost-theme';
$info-bar-height: 80px;
$info-bar-border-width: 1px;
$info-bar-padding-left: 30px;
$info-bar-padding-right: 0;
$info-bar-padding-top-bottom: 20px;
$info-bar-title-margin-bottom: 8px;

.frost-info-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: $info-bar-height + $info-bar-border-width;
  box-sizing: border-box;
  border-bottom: $info-bar-border-width solid $frost-color-lgrey-1;
  background-color: $frost-color-white;
  padding: $info-bar-padding-top-bottom $info-bar-padding-right $info-bar-padding-top-bottom $info-bar-padding-left;

  .title {
    line-height: 1;

    .primary-title {
      margin-bottom: $info-bar-title-margin-bottom;
      font-size: $frost-font-m;
      color: $frost-color-night-2;
    }

    .sub-title {
      font-size: $frost-font-s;
      color: $frost-color-grey-5;
    }
  }
}

.frost-info-bar .center {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: center;
}
