@import 'node_modules/ember-frost-core/addon/styles/frost-theme';
$info-bar-height: 70px;
$info-bar-border-width: 1px;
$info-bar-padding-left: 30px;
$info-bar-padding-right: 0;
$info-bar-padding-top-bottom: 20px;
$info-bar-title-separator: 5px;

.frost-info-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: $info-bar-height;
  min-height: $info-bar-height;
  padding: $info-bar-padding-top-bottom $info-bar-padding-right $info-bar-padding-top-bottom $info-bar-padding-left;
  border-bottom: $info-bar-border-width solid $frost-color-lgrey-1;
  background-color: $frost-color-white;
  overflow: hidden;

  &.center {
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: center;
  }

  .icon {
    width: 45px;
    height: 45px;

    svg {
      width: 45px;
      height: 45px;
    }
  }

  .icon ~ .title {
    margin-left: 15px;
  }

  .title {
    .primary-title {
      color: $frost-color-night-2;
      font-size: $frost-font-m;
    }

    .primary-title ~ .sub-title {
      margin-top: $info-bar-title-separator;
    }

    .sub-title {
      color: $frost-color-grey-5;
      font-size: $frost-font-s;
    }
  }

  .frost-info-bar-scope {
    display: flex;
    flex: 1;
    justify-content: center;
  }

  .frost-info-bar-controls {
    margin-left: auto;
  }
}

.frost-info-bar-icon {
  width: 45px;
  height: 45px;

  svg {
    width: 45px;
    height: 45px;
  }
}

.frost-info-bar-icon ~ .title {
  margin-left: 15px;
}
