.dummy-notification-container {
  margin: auto;
  max-width: 400px;
  position: fixed;
  right: 10px;
  top: 60px;
  width: 80%;
  z-index: 999; }

.page-content {
  align-items: center;
  display: flex;
  justify-content: center; }
  .page-content .row {
    display: flex;
    flex-direction: row;
    width: 95%; }
    .page-content .row .column {
      display: flex;
      flex-direction: column; }
    .page-content .row .item {
      width: 100%; }
  .page-content .hljs {
    background: #21252E;
    border-radius: 3px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1), 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    color: #98A0B0;
    max-height: 50vh;
    overflow: scroll;
    padding: 0.9em;
    width: 90%; }
    .page-content .hljs .hljs-keyword {
      color: #B959D8; }
    .page-content .hljs .hljs-built_in {
      color: #DFB563; }
    .page-content .hljs .hljs-string {
      color: #86BB62; }
    .page-content .hljs .hljs-number, .page-content .hljs .hljs-subst {
      color: #C7894F; }
    .page-content .hljs .hljs-tag {
      color: inherit; }
      .page-content .hljs .hljs-tag .hljs-name {
        color: #D95360; }
      .page-content .hljs .hljs-tag .hljs-attr {
        color: #C7894F; }
