ember-frost-info-bar testbed <br>
<div class="frost-info-bar">
    <div class="title">
        <div class="primary-title">User accounts</div>
        <div class="sub-title">View and manage user accounts</div>
    </div>
    <div class="action">
      {{#frost-button}}
        <div class='icon-action'>
          {{frost-icon icon='frost/infobar-create'}}
          <div class='text'>Create</div>
        </div>
       {{/frost-button}}
    </div>
</div>
